<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upreality.car.expenses">

    <application>
        <activity
            android:name=".presentation.editing.ui.ExpenseEditingActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>